@{
  Layout = "_Layout";
}
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Budget App</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Welcome, Kenny</p>
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Accounts</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/accounts">View All Accounts</a>
                    </li>
                    <li>
                        <a href="/accounts/new">Add Account</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/home/aboutus">About Us</a>
            </li>
            <li>
                <a href="/home/contact">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://github.com/owysocky/FinanceCounter.Solution/tree/master" class="download">Source Code</a>
            </li>
        </ul>
    </nav>

    <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn togglebtn">
                <i class="fas fa-align-left"></i>
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
    </nav>

    <h2>Welcome to this budget program.</h2>
    <p>This is a program that will keep track of all of your accounts. It will allow you to add how many ever accounts you have, add expenses and incomes and it will show you how much money you have left as well as how much you have spent. Hopefully this web app can be a great help to whoever chose to use this! Feel free to contact us if you have any inquiry regarding our web app.</p>

    <div class="line"></div>
    </div>
</div>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
